<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="features" type="JLeight.FeatureFlags.Configuration.FeaturesSection, JLeight.FeatureFlags" />
  </configSections>
  <features>
    <feature name="ConfigSectionEnabledFeature" isEnabled="true" />
    <feature name="ConfigSectionDisabledFeature" isEnabled="false" />
  </features>
  <appSettings>
    <add key="TestValue" value="true" />
    <add key="feature:EnabledFeature" value="true" />
    <add key="feature:DisabledFeature" value="false" />
    <add key="feature:InvalidFeature" value="notabool" />
  </appSettings>
</configuration>