<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestValue" value="true" />
    <add key="feature:EnabledFeature" value="true" />
    <add key="feature:DisabledFeature" value="false" />
    <add key="feature:InvalidFeature" value="notabool" />
  </appSettings>
</configuration>